::-webkit-scrollbar { 
  /* solo oculta su visualizacion */
  display: none;
}

body{
	background-color:#333;
	color:#fff;
}

.navbar{
	border-bottom:#dc3545 3px solid;
}

.navbar-opacity{
	opacity: .9;
}

#home-section{
	background:url('../img/bg.jpg') no-repeat;
	min-height:80vh;
	background-size: cover;
	background-attachment: fixed;
}

.home-inner{
	padding: 120px;
	padding-bottom: 70px;

	@media screen and (max-width:1024px){
		padding: 110px 0px 65px 0px;
	}

	@media screen and (mix-width:360px){
		padding: 67px 19px 0px 18px;
	}
}

.dark-overlay{
	background-color: rgba(black, .7);
	position: relative;
	top:0;
	left:0;
	width:100%;
	min-width:100%
}

@media (min-width: 576px) and (max-width: 1024px) {
	.container {
		padding:0;

		.pb_5{
			padding-bottom: .5rem !important;
		}
	}
}